body{
    position: relative;
    margin: 0 auto 100px;
    background: linear-gradient(180deg, #75E1BB 0%, #1A2F2B 100%);
    background-position: top center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rightnav {
    width: 86%;
    text-align: right;
}

nav{
    position: relative;
    display: flex;
    background-color: #238A71;
    padding:5px;
    width:100%;
}
    
nav button{
    position: relative;
    right: 0px;
    left: 0px;
    bottom: -2px;
    width: 158px;
    height: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    background:  #75E1BB;
    color: #000000;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}

nav button:hover{
    background-color: #02532d;
    color: #FFFFFF;
}
    
h1{
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    padding:25px;
    color: #000000;
}
    
p{
    height: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 77px; 
    color: #000000;
}
    
#addContactDiv{
    text-align: center;
    position: relative;
}

input{
    position: relative;
    width: 539px;
    height: 69px;
    text-align: center;
    font-size: 36px;
    background: #D9D9D9;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.253);
}
    
button{
    position: relative;
    bottom: -50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    background: #60310B;
    border-radius: 20px;
    color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}
    
button:hover {
    background: #C0D8E0;
    color: #000000;
    cursor:pointer;
}

#addContactResult{
      position: absolute;
      transform: translate(10px, 54px);
      padding-left: 32px;
			margin: 10px 0px;
      font-size: 30px;
      text-align: center;
      color: #FFFFFF;
}
