body{
    position: relative;
    margin: 0 auto 100px;
    background: linear-gradient(180deg, #75E1BB 0%, #1A2F2B 100%);
    background-position: top center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rightnav {
    width: 86%;
    text-align: right;
}

nav{
    position: relative;
    display: flex;
    background-color: #238A71;
    padding:5px;
    width:100%;
}

nav button{
    position: relative;
    right: 0px;
    left: 0px;
    bottom: -2px;
    width: 158px;
    height: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    background:  #75E1BB;
    color: #000000;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}

nav button:hover{
    background-color: #02532d;
    color: #FFFFFF;
}
    
h1{
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    padding:25px;
    color: #000000;
}


.searchbar{
    margin: 0 auto;
    width: 600px;
    height: 60px;
    align-items: center;
    border-radius: 15px;
}

form input{
    font-family: 'Lato';
    font-size: 20px;
    height:35px;
    width: 300px;
    background: #D9D9D9;
    border-radius: 15px;
}

#searchButton{
    height: 35px;
    width: 80px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Lato';
    color: white;
    background:  #60310B;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}

#searchButton:hover{
    background-color: #C0D8E0;
    color: black;
    cursor:pointer;
}

#addContactButton{
    height: 35px;
    width: 130px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Lato';
    color: white;
    background:  #60310B;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}

#addContactButton:hover{
    background-color: #C0D8E0;
    color: black;
    cursor:pointer;
}

.contact-list{
    background: #238A71;;
    margin: 0 auto 100px;
    width: 1000px;
    height: 500px;
    font-size: 40px;
    overflow-y:  auto;
    border: 8px solid #238A71;
    border-radius: 15px;
}

.contact-list a {
    background: #75E1BB;
    color: black;
    display: block;
    padding: 18px;
    text-decoration: none;
    border: 8px solid #238A71;
    border-radius: 15px;
}

button{
    width: 120px;
    height:50px;
    font-size: 30px;
    font-family: 'Lato';
    color: white;
    background:  #60310B;
    border-radius: 20px;
    cursor:pointer;
}

button:hover {
    background-color: #C0D8E0;
    color: black;
    cursor:pointer;
}
