body{
    background-image: url('../images/background.jpg');
    margin: 0 auto 100px;
    background-position: top center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    position: relative;
    display: flex;
    background-color: #238A71;
    padding:5px;
}

nav button{
    position: relative;
    left: 1335px;
    bottom: -2px;
    width: 158px;
    height: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}

.loginButton{
    background: #72CDD2;
    border-radius: 20px;
}

.loginButton:hover {
    background: #0835af;
    color: #FFFFFF;
}

.registerButton{
    background: #75E1BB;
    border-radius: 20px;
}

.registerButton:hover {
    background: #02532d;
    color: #FFFFFF;
}
