body{
position: relative;
margin: 0 auto 100px;
width: 1440px;
height: 1024px;
background: linear-gradient(180deg, #72CDD2 0%, #1B322E 100%);
}

h1{
margin: 0 auto;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #000000;
}

p{
    position: center;
    width: 1060px;
    height: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 77px;
    text-align: center;
    
    color: #000000;
}

input{
    position: relative;
    width: 539px;
    height: 69px;
    left: 450px;
    text-align: center;
    font-size: 36px;
    background: #D9D9D9;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.253);
}

button{
    position: relative;
    left: 675px;
    bottom: -50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    background: #72CDD2;
    border-radius: 20px;
    color: #000000;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.521);
}

button:hover {
    background: #0835af;
    color: #FFFFFF;
}